<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Document</title>
</head>
<body style="background-color: #4abdd4;">

    
    <div><h1 style="padding-top: 10%; padding-left: 40%;">PC-GO.com</h1></div>
    
    <div style="padding-top: 1%; padding-left: 40%;">

        <div><p>Kullanıcı Adı Giriniz:</p></div>
        <div>
            <input type="text" name="kadi">
          </div>

        <div><p>Şifre Giriniz:</p></div>
        <div>
            <input type="password" name="sifre">
           
          </div>
    </div>
     
    <div style="padding-top: 3%; padding-left: 39%;"> <a href="/anasayfa" class="btn btn-primary btn-lg">GİRİŞ YAP </a>
        <a href="/kayit" class="btn btn-primary btn-lg">KAYIT OL</a> </div>

        
    

</body>
</html>