<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>SinanKılıc</title>
</head>

<body style="background-color:#DBEBF6;"> 
    <div class="arkaplan" style="background-color: rgb(126, 184, 223);">
        <a href="https://www.instagram.com/sinankilic.23/?hl=tr"><img src="http://pngimg.com/uploads/instagram/instagram_PNG3.png" style="height: 55px; width: 55px; position: absolute; left: 1355px;" ></a>
        <a href="https://www.youtube.com/channel/UCQlH8A0N_8jm8zk1arUmUvA?view_as=subscriber"><img src="https://www.freepnglogos.com/uploads/-youtube-logo-png-transparent-22.png" style="height: 55px; width: 55px; position: absolute; left: 1420px;" ></a>
        <a href="https://www.linkedin.com/in/sinan-k%C4%B1l%C4%B1%C3%A7-67937319a/"><img src="https://cdn2.iconfinder.com/data/icons/popular-social-media-flat/48/Popular_Social_Media-22-512.png" style="height: 55px; width: 55px; position: absolute; left: 1300px;" ></a>


        <img src="https://www.theguardian.pe.ca/media/photologue/photos/cache/pc-party-of-p-e-i-2785252_large.jpg" class="imglogo" style="height: 65px; width: 65px;">
        &nbsp;  &nbsp; &nbsp;  &nbsp; &nbsp; &nbsp; &nbsp;
        <a href="/anasayfa" type="button" class="btn btn-light anasayfa" style="background-color: rgb(120, 207, 241);color:azure;border: 0px; border-style: none;">Anasayfa</a>
        &nbsp;  
        <a href="/bilgisayar" type="button" class="btn btn-light bilgisayar" style="background-color: rgb(120, 207, 241);color:azure;border: 0px; border-style: none;">Bilgisayar</a>
        &nbsp; 
        <a href="/televizyon" type="button" class="btn btn-light televizyon" style="background-color: rgb(120, 207, 241);color:azure;border: 0px; border-style: none;">Televizyon</a>
        &nbsp; 
        <a href="/telefon" type="button" class="btn btn-light telefon" style="background-color: rgb(120, 207, 241);color:azure;border: 0px; border-style: none;">Telefon</a>
        &nbsp; 
        <a href="/tablet" type="button" class="btn btn-light tablet" style="background-color: rgb(120, 207, 241);color:azure;border: 0px; border-style: none;">Tablet</a>
        &nbsp; 
        <a href="/aksesuar" type="button" class="btn btn-light aksesuar" style="background-color: rgb(120, 207, 241);color:azure;border: 0px; border-style: none;">Aksesuar</a>
        &nbsp;
        <a href="/misyonumuz" type="button" class="btn btn-light misyonumuz" style="background-color: rgb(120, 207, 241);color:azure;border: 0px; border-style: none;">Misyonumuz</a>
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
        <a href="/sepet" type="button" class="btn btn-light sepet" style="background-color: rgb(120, 207, 241);color:azure;border: 0px; border-style: none;">Sepete Git</a>
        &nbsp;           
        <a href="/" type="button" class="btn btn-light giris" style="background-color: rgb(120, 207, 241);color:azure;border: 0px; border-style: none;">Giriş Yap</a>           
 
    </div>

    <div>
        <img src="https://whsbradford.org/wp-content/uploads/2017/10/header2-1500x200.png" class="imglogoo" style="height: 200px; width:100%;">
    </div>

    <div style="padding: 1% ;">
        <form action="/cihaz" method="get">
            <input type="text" name="cihazAdi">
            <button type="submit">Ara</button>
        </form>
    </div>

    <div><h3 style="padding-left: 1%;">Telefonlar</h3></div>

    <div class="container"> 
        <table id="example" class="table table-striped table-bordered"> 
            
                <tr style="background-color: rgb(122, 216, 245);">
                    <th>Telefon Adı</th> 
                    <th>Telefon Özellikleri</th>   
                    <th>Telefon Fiyatı</th>   

    
                </tr>
                <% for(var i=0; i < telefon.length; i++) { %>
                <tr>
                    <td><%= telefon[i].telefonadi %></td> 
                    <td><%= telefon[i].telefonatribute %></td> 
                    <td><%= telefon[i].telefonprice %>TL</td>
                    <td><button>Sepete Ekle</button></td>
    
                </tr>
                <% } %>
        </table>
    </div>

</body>
</html>